@model IEnumerable<tmdt.Models.chitietdh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết đơn hàng</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sp.ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dongia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donhang.tennguoinhan)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.sp.ten)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.soluong)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.dongia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.donhang.tennguoinhan)
    </td>

</tr>
}

</table>
