@model tmdt.Models.tintuc
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>CHỈNH SỬA</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Tin tức bạn muốn sửa</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ma)

        <div class="form-group">
            <label class="control-label col-md-2">Tiêu đề</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.tieude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tieude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Mã chuyên mục</label>
            <div class="col-md-10">
                @Html.DropDownList("macm", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.macm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Mô tả ngắn</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.matangan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.matangan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Mô tả</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.mota, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mota, "", new { @class = "text-danger" })
            </div>
            @*Chèn lệnh để viết mô tả*@
            <script type="text/javascript">
            CKEDITOR.replace("mota");
            </script>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ngày đăng</label>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ngaydang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ngaydang, "", new { @class = "text-danger" })*@
                <input type="date" name="ngaydang" value="@Model.ngaydang" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ảnh</label>
            <div class="col-md-5">
                <div class="col-md-4">
                    <input type="text" name="anh" id="anh" value="@Model.anh" class="col-md-4" />
                </div>
                <div class="col-md-2">
                    <input type="button" id="moanh" class="btn btn-default" value="Mở" />
                </div>
                <div class="col-md-3">
                    <img src="#" id="anhphu" width="50" height="50" />
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $("#moanh").click(function () {
                var finder = new CKFinder();
                finder.selectActionFunction = function (fileUrl) {
                    // fileUrl = fileUrl.substring(fileUrl.lastIndexOf("/") + 1);
                    $("#anh").val(fileUrl);
                    $('#anhphu').attr("src", fileUrl);
                }
                finder.popup();
            });
        </script>


        <div class="form-group">
            <label class="control-label col-md-2">Người đăng</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nguoidang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nguoidang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tiêu biểu</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.tieubieu)
                    @Html.ValidationMessageFor(model => model.tieubieu, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Loại tin</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.loaitin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.loaitin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>