@model PagedList.IPagedList<tmdt.Models.tintuc>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách tin tức</h2>

<p>
    <a href="@Url.Action("Create","tintucs")" class="btn btn-primary">Thêm tin mới</a>
</p>
<table class="table">
    <tr>
        <th>
            Tiêu đề
        </th>
        <th>
            Mô tả ngắn
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Ngày đăng
        </th>
        <th>
            Ảnh
        </th>
        <th>
            Người đăng
        </th>
        <th>
            Tiêu biểu
        </th>
        <th>
            Loại tin
        </th>
        <th>
            Chuyên mục
        </th>
        <th>Chức năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tieude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matangan)
        </td>
        <td>
            @Html.Raw(@item.mota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaydang)
        </td>
        <td>
            <img src="@item.anh" width="100" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nguoidang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tieubieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loaitin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chuyenmuc.ten)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ma }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.ma }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ma })
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "sp_area" }))