@model tmdt.Models.nguoidung

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>nguoidung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gioitinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gioitinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diachi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dienthoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dienthoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tendangnhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tendangnhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matkhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matkhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quyen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ma }) |
    @Html.ActionLink("Back to List", "Index")
</p>
